config/order.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="OrderService"
             targetNamespace="http://localhost:8080/soap"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://localhost:8080/soap"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <types>
        <xsd:schema targetNamespace="http://localhost:8080/soap">
            <xsd:element name="createOrder">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="customerName" type="xsd:string"/>
                        <xsd:element name="customerEmail" type="xsd:string"/>
                        <xsd:element name="address" type="xsd:string"/>
                        <xsd:element name="totalAmount" type="xsd:float"/>
                        <xsd:element name="items" type="xsd:string"/>
                        <xsd:element name="status" type="xsd:string" default="pending"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="createOrderResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="success" type="xsd:boolean"/>
                        <xsd:element name="order_id" type="xsd:int"/>
                        <xsd:element name="message" type="xsd:string"/>
                        <xsd:element name="error" type="xsd:string" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <message name="createOrderRequest">
        <part name="parameters" element="tns:createOrder"/>
    </message>
    <message name="createOrderResponse">
        <part name="parameters" element="tns:createOrderResponse"/>
    </message>

    <portType name="OrderPortType">
        <operation name="createOrder">
            <input message="tns:createOrderRequest"/>
            <output message="tns:createOrderResponse"/>
        </operation>
    </portType>

    <binding name="OrderBinding" type="tns:OrderPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="createOrder">
            <soap:operation soapAction="http://localhost:8080/soap/createOrder"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="OrderService">
        <documentation>Order Management Service</documentation>
        <port name="OrderPort" binding="tns:OrderBinding">
            <soap:address location="http://localhost:8080/soap"/>
        </port>
    </service>
</definitions>
